@use "sass:math";

@forward 'mixins/vw-conversion';
@forward 'mixins/font';

@mixin blind() {
	overflow: hidden;
	position: relative; 
	border: 0;
	z-index: -1;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

@mixin flex-center($align: center) {
	display: flex;
	justify-content: center;
	align-items: $align;
}

@mixin flex-between($align: center) {
	display: flex;
	justify-content: space-between;
	align-items: $align;
}

// pos_left(50%) : left:50%
@mixin pos_left($left: 0) {
	position: absolute;
	left: $left;
	top: 50%;
	transform: translate(-$left ,-50%);
}

@mixin pos_center($position: absolute) {
	position: $position;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin pos_direct($left: 50%, $top: 50%) {
	position: absolute;
	left: $left;
	top: $top;
	transform: translate(-$left ,-$top);
}

@mixin clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin ellipsis($line: 1) {
	@if ($line == 1) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $line;
	}
}

$browser-context-pc: 16;
$browser-context-mo: 14;
@mixin em-font-size-pc($pixels, $context: $browser-context-pc) {
	font-size: math.div($pixels, $context) * 1em;
}
@mixin em-font-size-mo($pixels, $context: $browser-context-mo) {
	font-size: math.div($pixels, $context) * 1em;
}

// 1401
$pc: 1400px; // 1400 ~ 1025
$tablet: 1024px; // 1024 ~ 768
$mo: 768px; // 767px ~ 320px

@mixin pc{
    @media (max-width: $pc) {
        @content;
    }
}
@mixin tablet{
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin mo{
    @media (max-width: $mo) {
        @content;
    }
}