@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    font-display: swap;
    src: url('../font/NanumSquareR.woff') format('woff');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    font-display: swap;
    src: url('../font/NanumSquareB.woff') format('woff');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    font-display: swap;
    src: url('../font/NanumSquareEB.woff') format('woff');
}
