@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css");
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  font-display: swap;
  src: url("../font/NanumSquareR.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  font-display: swap;
  src: url("../font/NanumSquareB.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  font-display: swap;
  src: url("../font/NanumSquareEB.woff") format("woff");
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

div, p, li, span, em, strong, a {
  word-break: keep-all;
  word-wrap: break-word;
}

body {
  font-family: "NanumSquare", Helvetica, "malgun gothic", "Apple SD Gothic Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  letter-spacing: -0.01em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 1.095890411vw;
}
@media (min-width: 1320px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 3.8888888889vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  body {
    font-size: 3.8888888889vw;
  }
}

h1, h2, h3, h4, h5 {
  font-size: 1em;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border: 0 none;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0;
  font-family: "NanumSquare", Helvetica, "malgun gothic", "Apple SD Gothic Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  margin: 0;
}
input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

img, fieldset {
  border: 0;
}

ul, ol, li {
  list-style-type: none;
}

li img {
  vertical-align: top;
}

button {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-family: "NanumSquare", Helvetica, "malgun gothic", "Apple SD Gothic Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  font-size: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  font-size: 16px;
}

body.nav-opens, body.layer-opens {
  overflow: hidden;
}
body.nav-opens header .inner:after {
  display: block;
}
body.nav-opens header .mobile_menu {
  display: block;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#container {
  position: relative;
  padding-top: 14.3939393939vw;
}
@media (min-width: 1320px) {
  #container {
    padding-top: 190px;
  }
}

.load-wrapper {
  display: flex;
  z-index: 101;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background-color: #1d1d1d;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.load-wrapper h1 {
  overflow: hidden;
}
.load-wrapper p {
  font-size: 30px;
  transform: translateY(100%);
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
header .header {
  padding: 5.303030303vw 4.1666666667vw 0vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1320px) {
  header .header {
    padding: 70px 55px 0px;
  }
}
header .header__menu {
  display: flex;
  gap: 20px;
}
header .logo {
  display: inline-block;
  width: 6.8181818182vw;
}
@media (min-width: 1320px) {
  header .logo {
    width: 90px;
  }
}
header .logo img {
  width: 100%;
}
header .btn_menu {
  width: 3.7878787879vw;
  height: 3.7878787879vw;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
}
@media (min-width: 1320px) {
  header .btn_menu {
    width: 50px;
  }
}
@media (min-width: 1320px) {
  header .btn_menu {
    height: 50px;
  }
}

section {
  padding-bottom: 11.3636363636vw;
}
@media (min-width: 1320px) {
  section {
    padding-bottom: 150px;
  }
}

.layer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.6);
}
.layer.is-open {
  width: 100%;
  height: 100%;
}
.layer.is-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}
.layer .inner {
  width: 30.9090909091vw;
  border-radius: 1.2878787879vw;
  background-color: #fff;
  text-align: center;
}
@media (min-width: 1320px) {
  .layer .inner {
    width: 408px;
  }
}
@media (min-width: 1320px) {
  .layer .inner {
    border-radius: 17px;
  }
}
.layer .contents {
  padding: 4.4696969697vw 0vw;
}
@media (min-width: 1320px) {
  .layer .contents {
    padding: 59px 0px;
  }
}
.layer .desc {
  font-size: 1.125em;
  color: #333333;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.layer .button {
  font-size: 1em;
  padding: 0.6060606061vw 0vw;
  font-weight: 800;
  line-height: 2.25;
  letter-spacing: 0.5px;
  color: #615ff0;
  width: 100%;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 1320px) {
  .layer .button {
    padding: 8px 0px;
  }
}

.btn_primary {
  background-color: #000;
  color: #fff;
  height: 3.7878787879vw;
  padding: 0.7575757576vw 1.5151515152vw;
  border-radius: 3.7878787879vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1320px) {
  .btn_primary {
    height: 50px;
  }
}
@media (min-width: 1320px) {
  .btn_primary {
    padding: 10px 20px;
  }
}
@media (min-width: 1320px) {
  .btn_primary {
    border-radius: 50px;
  }
}
.btn_primary.white {
  background: #fff;
  color: #000;
}

@media (max-width: 768px) {
  #container {
    padding-top: 15vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  #container {
    padding-top: 15vw;
  }
}
@media (max-width: 768px) {
  .layer .inner {
    width: 73.8888888889vw;
    border-radius: 4.7222222222vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .layer .inner {
    width: 73.8888888889vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .layer .inner {
    border-radius: 4.7222222222vw;
  }
}
@media (max-width: 768px) {
  .layer .contents {
    padding: 10vw 0vw 6.1111111111vw;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .layer .contents {
    padding: 10vw 0vw 6.1111111111vw;
  }
}
@media (max-width: 768px) {
  .layer .desc {
    font-size: 1.2142857143em;
    width: 70%;
    margin: 0 auto;
    line-height: 1.59;
  }
}
@media (max-width: 768px) {
  .layer .button {
    font-size: 1.1428571429em;
    padding: 1.6666666667vw 0vw;
    font-weight: 800;
    line-height: 2.25;
    letter-spacing: 0.5px;
    color: #615ff0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
  }
}
@media (max-width: 768px) and (max-width: 360px) {
  .layer .button {
    padding: 1.6666666667vw 0vw;
  }
}
.main__1 {
  padding-top: 15.1515151515vw;
  gap: 1.5151515152vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1320px) {
  .main__1 {
    padding-top: 200px;
  }
}
@media (min-width: 1320px) {
  .main__1 {
    gap: 20px;
  }
}
.main__1--image {
  margin-top: 3.0303030303vw;
  display: flex;
}
@media (min-width: 1320px) {
  .main__1--image {
    margin-top: 40px;
  }
}
.main__1--image img {
  width: 33.333%;
}
.main .title {
  font-size: 3.125em;
  width: 34.0909090909vw;
}
@media (min-width: 1320px) {
  .main .title {
    width: 450px;
  }
}
.main .desc {
  text-transform: uppercase;
  font-size: 1.25em;
  margin-bottom: 1.5151515152vw;
}
@media (min-width: 1320px) {
  .main .desc {
    margin-bottom: 20px;
  }
}
.main__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.2727272727vw;
}
@media (min-width: 1320px) {
  .main__head {
    margin-bottom: 30px;
  }
}
.main__head--title {
  font-size: 3.75em;
}
.main__head--title.white {
  color: #fff;
}
.main__2 {
  padding: 0vw 4.1666666667vw;
}
@media (min-width: 1320px) {
  .main__2 {
    padding: 0px 55px;
  }
}
.main__2--image {
  display: flex;
  justify-content: space-between;
}
.main__2--image li {
  width: calc((100% - 40px) / 3);
}
.main__2--image a {
  display: block;
}
.main__2--image img {
  width: 100%;
}
.main__3 {
  padding: 11.3636363636vw 4.1666666667vw;
}
@media (min-width: 1320px) {
  .main__3 {
    padding: 150px 55px;
  }
}
.main__list--head {
  display: flex;
  padding-bottom: 3.0303030303vw;
}
@media (min-width: 1320px) {
  .main__list--head {
    padding-bottom: 40px;
  }
}
.main__list--head p {
  font-size: 1.25em;
  text-transform: uppercase;
}
.main__list--head p:nth-of-type(1) {
  width: 25%;
}
.main__list--head p:nth-of-type(2) {
  width: 25%;
}
.main__list--head p:nth-of-type(3) {
  width: 50%;
}
.main__list--body a {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  padding: 3.0303030303vw 0vw;
  color: #000;
  border-top: 1px solid #000;
}
@media (min-width: 1320px) {
  .main__list--body a {
    padding: 40px 0px;
  }
}
.main__list--body a:hover .main__list--name img {
  width: 11.3636363636vw;
  margin-right: 1.5151515152vw;
}
@media (min-width: 1320px) {
  .main__list--body a:hover .main__list--name img {
    width: 150px;
  }
}
@media (min-width: 1320px) {
  .main__list--body a:hover .main__list--name img {
    margin-right: 20px;
  }
}
.main__list--name {
  display: flex;
  align-items: center;
  width: 25%;
}
.main__list--name img {
  height: 5.303030303vw;
  border-radius: 0.7575757576vw;
  width: 0;
  transition: 0.5s;
}
@media (min-width: 1320px) {
  .main__list--name img {
    height: 70px;
  }
}
@media (min-width: 1320px) {
  .main__list--name img {
    border-radius: 10px;
  }
}
.main__list--location {
  width: 25%;
}
.main__list--info {
  width: 50%;
  display: flex;
  gap: 10px;
}
.main__list--info p {
  padding: 0.3787878788vw 0.7575757576vw;
  border-radius: 3.7878787879vw;
  border: 1px solid #000;
}
@media (min-width: 1320px) {
  .main__list--info p {
    padding: 5px 10px;
  }
}
@media (min-width: 1320px) {
  .main__list--info p {
    border-radius: 50px;
  }
}
.main__list.black {
  color: #fff;
}
.main__list.black .main__list--body a {
  color: #fff;
  border-top: 1px solid #fff;
}
.main__list.black .main__list--info p {
  border: 1px solid #fff;
}
.main__4 {
  border: 1px solid black;
  padding: 28.4090909091vw 0vw;
  background: url("../images/location_spotlight.jpg") no-repeat center/100% auto;
  color: #fff;
}
@media (min-width: 1320px) {
  .main__4 {
    padding: 375px 0px;
  }
}
.main__4 .title {
  width: 100%;
}
.main__5 {
  padding: 11.3636363636vw 4.1666666667vw;
  background-color: rgb(29, 29, 29);
}
@media (min-width: 1320px) {
  .main__5 {
    padding: 150px 55px;
  }
}/*# sourceMappingURL=style.css.map */